.checkbox--container {
  width: 450px;
  height: 81px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d6d9e6;
}

.checkbox--container > label > h4 {
  font-size: 16px;
  color: #022959;
}

.checkbox--container > label > p {
  font-size: 14px;
  color: #9699aa;
  margin: 0;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}
